body{
    background-color: #91e4fb;
    height: 100vh;
    
    font-family: arial,tahoma,helvetica,sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.form-div{
    width: 400px;

    padding-top: 20px;
    padding-right: 20px;
    
    border: 2px black solid;
}

#overload{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    display: none;
    position: absolute;
    z-index: 1;
}

/* von www.w3schools.com/howto/howto_css_loader.asp */
#load{
    width: 90px;
    height: 90px;
    margin-top: 48%;
    margin-left: auto;
    margin-right: auto;
    
    display: none;
    z-index: 2;
    
    border: 20px solid lightgrey;
    border-top: 20px solid lightgreen;
    border-radius: 50%;
    
    animation: spin 2s linear infinite;
}

/* von www.w3schools.com/howto/howto_css_loader.asp */
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------- */
/* Login */
/* -------------- */

.label{
    width: 160px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 20px;  
    
    display: inline-block;
}

.input_text{
    width: 180px;
    height: 30px;
    margin-left: 20px;
    
    border: 1px solid #e6e6f2;
}

.input_submit{
    width: 140px;
    height: 30px;
    margin-left: 20px;
}

.input_submit:hover{
    cursor: pointer;
}

/* -------------- */
/* Hauptansicht */
/* -------------- */

#dbform{
    margin-bottom: 0;
    max-width: 680px;
    width: 80%;
}

.modalbox{
    display: none;
    position: fixed;
    z-index: 1;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    overflow: hidden;
    
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modalbox_inhalt{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

    border: none;
    width: 60%;
    height: 60%;
    
    background-color: transparent;
}

.close{
    float: right;
    padding-bottom: 4px;
    margin-right: -40px;
    
    font-size: 28px;
    font-weight: bold;
    
    background-color: red;
    color: #fff;
    border: none;
}

.close:hover{
    cursor: pointer;
}

.inbox{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 40px 40px 40px;
    background-color: steelblue;
}

.input_db{
    width: 60px;
    height: 40px;
    
    background-color: lightgreen;
    border: none;
    
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;   
    display: none;
}

#checkboxlabel{
    display: none;
}

.db_table{   
    margin-bottom: 40px;
    margin-top: 5px;
    
    border-collapse: collapse;
    background-color: white;
}

col{
    width: 33%;
}

.db_table th{
    font-size: 20px;
    line-height: 28px;
    
    color: darkslategray;
    background-color: #a8c6fa;
}

.odd{
    background-color: #cae4f7;
}

.db_table tr td{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.img{
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.img:hover{
    cursor: pointer;
}

#import{
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

#import:hover{
    cursor: pointer;
}

#plus{
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
#plus:hover{
    cursor: pointer;
}

.dump_label{
    font-size: 18px;
}

.db_text{
    width: 240px;
    height: 40px;
    margin-top: 10px;
    
    font-size: 18px;
    display: inline-block;
}

.db_text::placeholder{
    text-align: center;
}

#select{
    width: 240px;
    height: 40px;
    
    font-size: 18px;
    text-align: center;
    
    background-color: white;
    border: 1px solid #e6e6f2;
    
    display: none;
}

#checkbox{
    margin-bottom: 20px;
    margin-top: 60px;
}

/* -------------- */
/* Logout */
/* -------------- */

.form_header{
    top: 0;
    right: 20px;
    height: 60px;
    padding-top: 20px;
    position: absolute;
}

.input_logout{
    width: 50px;    
    border: none;
}

.input_logout:hover{
    cursor: pointer;
}